# LAB 5. Hypothesis testing. Green taxi case

Test varios hypothesis about ridership volume and trip characteristics for green taxi trips in 2018-2020. 

Does the ridership decline over time? Does it depend on the day of the week and time of the day? Does the distribution of the trip parameters (distance, time, speed) depend on the day of the week and borough?

In [49]:
#import the modules
import pandas as pd
import geopandas as gpd
import urllib.request
import os
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [50]:

import statsmodels.formula.api as smf
import math
import seaborn as sns #for styling the plots
import warnings
%matplotlib inline

from sklearn.linear_model import LinearRegression

In [51]:
traffic = pd.read_csv('hourlytra.csv')

traffic

,Plaza ID,Date,Hour,Direction,# Vehicles - E-ZPass,# Vehicles - VToll
0,21,12/02/2023,0,I,2650,573
1,21,12/02/2023,1,I,1794,407
2,21,12/02/2023,2,I,1309,366
3,21,12/02/2023,3,I,1238,290
4,21,12/02/2023,4,I,1679,390
...,...,...,...,...,...,...
2139700,11,01/01/2010,19,I,2675,1152
2139701,11,01/01/2010,20,I,2580,1086
2139702,11,01/01/2010,21,I,2302,987
2139703,11,01/01/2010,22,I,2170,910
2139704,11,01/01/2010,23,I,1837,706

In [52]:
print(traffic.dtypes)

Plaza ID                 int64
Date                    object
Hour                     int64
Direction               object
# Vehicles - E-ZPass     int64
# Vehicles - VToll       int64
dtype: object

In [53]:
tfd = traffic[['Date','# Vehicles - VToll', '# Vehicles - E-ZPass']].groupby(by='Date', as_index=False).sum()
tfd['vehicle_volume'] = tfd['# Vehicles - VToll'] + tfd['# Vehicles - E-ZPass']
tfd

            Date  # Vehicles - VToll  # Vehicles - E-ZPass  vehicle_volume
0     01/01/2010              155666                316187          471853
1     01/01/2011              146700                349606          496306
2     01/01/2012              147120                402116          549236
3     01/01/2013              119694                376570          496264
4     01/01/2014              110319                387433          497752
...          ...                 ...                   ...             ...
4982  12/31/2018               88168                558930          647098
4983  12/31/2019               91241                593659          684900
4984  12/31/2020              116161                588085          704246
4985  12/31/2021               97385                530881          628266
4986  12/31/2022              110458                575922          686380

[4987 rows x 4 columns]

In [54]:
tfd['Date'] = pd.to_datetime(tfd['Date'], format='%m/%d/%Y')
tfd

           Date  # Vehicles - VToll  # Vehicles - E-ZPass  vehicle_volume
0    2010-01-01              155666                316187          471853
1    2011-01-01              146700                349606          496306
2    2012-01-01              147120                402116          549236
3    2013-01-01              119694                376570          496264
4    2014-01-01              110319                387433          497752
...         ...                 ...                   ...             ...
4982 2018-12-31               88168                558930          647098
4983 2019-12-31               91241                593659          684900
4984 2020-12-31              116161                588085          704246
4985 2021-12-31               97385                530881          628266
4986 2022-12-31              110458                575922          686380

[4987 rows x 4 columns]

In [55]:
tfds = tfd.sort_values(by='Date')
tfds

           Date  # Vehicles - VToll  # Vehicles - E-ZPass  vehicle_volume
0    2010-01-01              155666                316187          471853
14   2010-01-02              167679                380746          548425
28   2010-01-03              156165                359420          515585
42   2010-01-04              149672                494168          643840
56   2010-01-05              146316                518537          664853
...         ...                 ...                   ...             ...
4561 2023-11-28              117826                796503          914329
4575 2023-11-29              117844                797478          915322
4589 2023-11-30              121956                823897          945853
4603 2023-12-01              127377                819864          947241
4617 2023-12-02              134152                769132          903284

[4987 rows x 4 columns]

In [56]:

tfds['Year'] = tfds['Date'].dt.year
tfds2023 = tfds.loc[tfds['Year'].isin([2023])]
tfds2023

,Date,# Vehicles - VToll,# Vehicles - E-ZPass,vehicle_volume,Year
13,2023-01-01,115235,622263,737498,2023
27,2023-01-02,104544,588411,692955,2023
41,2023-01-03,107409,708088,815497,2023
55,2023-01-04,110348,728725,839073,2023
69,2023-01-05,113540,745644,859184,2023
...,...,...,...,...,...
4561,2023-11-28,117826,796503,914329,2023
4575,2023-11-29,117844,797478,915322,2023
4589,2023-11-30,121956,823897,945853,2023
4603,2023-12-01,127377,819864,947241,2023
4617,2023-12-02,134152,769132,903284,2023

In [57]:
NO2 = pd.read_csv('NY_NO2_2023.csv')
SO2 = pd.read_csv('NY_SO2_2023.csv')
CO = pd.read_csv('NY_CO_2023.csv')
Ozone = pd.read_csv('NY_Ozone_2023.csv')
PM2d5 = pd.read_csv('NY_PM2.5_2023.csv')
PM10 = pd.read_csv('NY_PM10_2023.csv')

In [58]:
NO2

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2023,AQS,340030010,1,30.7,ppb,28,Fort Lee Near Road,21,88.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.853550,-73.966180
1,01/02/2023,AQS,340030010,1,33.7,ppb,31,Fort Lee Near Road,24,100.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.853550,-73.966180
2,01/03/2023,AQS,340030010,1,68.4,ppb,66,Fort Lee Near Road,24,100.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.853550,-73.966180
3,01/04/2023,AQS,340030010,1,33.3,ppb,31,Fort Lee Near Road,24,100.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.853550,-73.966180
4,01/05/2023,AQS,340030010,1,21.7,ppb,20,Fort Lee Near Road,24,100.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.853550,-73.966180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503,10/26/2023,AQS,361030044,1,19.4,ppb,18,Flax Pond,24,100.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,103,Suffolk,40.961017,-73.139046
2504,10/27/2023,AQS,361030044,1,29.8,ppb,27,Flax Pond,24,100.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,103,Suffolk,40.961017,-73.139046
2505,10/28/2023,AQS,361030044,1,17.1,ppb,16,Flax Pond,24,100.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,103,Suffolk,40.961017,-73.139046
2506,10/29/2023,AQS,361030044,1,2.1,ppb,2,Flax Pond,24,100.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,103,Suffolk,40.961017,-73.139046
2507,10/30/2023,AQS,361030044,1,10.0,ppb,9,Flax Pond,24,100.0,42602,Nitrogen dioxide (NO2),35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,103,Suffolk,40.961017,-73.139046

In [59]:
NO2 = NO2.loc[NO2['COUNTY'].isin(['Queens','Kings','New York','Richmond','Bronx'])]
SO2 = SO2.loc[SO2['COUNTY'].isin(['Queens','Kings','New York','Richmond','Bronx'])]
CO = CO.loc[CO['COUNTY'].isin(['Queens','Kings','New York','Richmond','Bronx'])]
PM2d5 = PM2d5.loc[PM2d5['COUNTY'].isin(['Queens','Kings','New York','Richmond','Bronx'])]
PM10 = PM10.loc[PM10['COUNTY'].isin(['Queens','Kings','New York','Richmond','Bronx'])]
Ozone = Ozone.loc[Ozone['COUNTY'].isin(['Queens','Kings','New York','Richmond','Bronx'])]
SO2

,Date,Source,Site ID,POC,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
888,01/01/2023,AQS,360050110,1,1.7,ppb,1,IS 52,24,100.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,5,Bronx,40.81600,-73.90200
889,01/02/2023,AQS,360050110,1,1.4,ppb,1,IS 52,24,100.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,5,Bronx,40.81600,-73.90200
890,01/03/2023,AQS,360050110,1,1.9,ppb,1,IS 52,24,100.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,5,Bronx,40.81600,-73.90200
891,01/04/2023,AQS,360050110,1,1.0,ppb,1,IS 52,21,88.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,5,Bronx,40.81600,-73.90200
892,01/05/2023,AQS,360050110,1,0.4,ppb,0,IS 52,24,100.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,5,Bronx,40.81600,-73.90200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1974,10/27/2023,AQS,360810124,2,1.2,ppb,1,QUEENS COLLEGE 2,24,100.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,81,Queens,40.73614,-73.82153
1975,10/28/2023,AQS,360810124,2,1.1,ppb,1,QUEENS COLLEGE 2,24,100.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,81,Queens,40.73614,-73.82153
1976,10/29/2023,AQS,360810124,2,0.1,ppb,0,QUEENS COLLEGE 2,24,100.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,81,Queens,40.73614,-73.82153
1977,10/30/2023,AQS,360810124,2,1.6,ppb,1,QUEENS COLLEGE 2,24,100.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,81,Queens,40.73614,-73.82153
1978,10/31/2023,AQS,360810124,2,0.5,ppb,0,QUEENS COLLEGE 2,24,100.0,42401,Sulfur dioxide,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,81,Queens,40.73614,-73.82153

In [60]:
NO2m = NO2[['Date','DAILY_AQI_VALUE']].groupby(by='Date', as_index=False).max()
SO2m = SO2[['Date','DAILY_AQI_VALUE']].groupby(by='Date', as_index=False).max()
COm = CO[['Date','DAILY_AQI_VALUE']].groupby(by='Date', as_index=False).max()
PM2d5m = PM2d5[['Date','DAILY_AQI_VALUE']].groupby(by='Date', as_index=False).max()
PM10m = PM10[['Date','DAILY_AQI_VALUE']].groupby(by='Date', as_index=False).max()
Ozonem = Ozone[['Date','DAILY_AQI_VALUE']].groupby(by='Date', as_index=False).max()
NO2m

           Date  DAILY_AQI_VALUE
0    01/01/2023               36
1    01/02/2023               36
2    01/03/2023               40
3    01/04/2023               33
4    01/05/2023               18
..          ...              ...
290  10/26/2023               70
291  10/27/2023               57
292  10/28/2023               34
293  10/29/2023               10
294  10/30/2023               28

[295 rows x 2 columns]

In [61]:
NO2m['Date'] = pd.to_datetime(NO2m['Date'], format='%m/%d/%Y')
SO2m['Date'] = pd.to_datetime(SO2m['Date'], format='%m/%d/%Y')
COm['Date'] = pd.to_datetime(COm['Date'], format='%m/%d/%Y')
PM2d5m['Date'] = pd.to_datetime(PM2d5m['Date'], format='%m/%d/%Y')
PM10m['Date'] = pd.to_datetime(PM10m['Date'], format='%m/%d/%Y')
Ozonem['Date'] = pd.to_datetime(Ozonem['Date'], format='%m/%d/%Y')
Ozonem

          Date  DAILY_AQI_VALUE
0   2023-01-01               27
1   2023-01-02               13
2   2023-01-03                4
3   2023-01-04                7
4   2023-01-05               12
..         ...              ...
337 2023-12-04               16
338 2023-12-05               24
339 2023-12-06               24
340 2023-12-07               22
341 2023-12-08               13

[342 rows x 2 columns]

In [62]:
NO2m.rename(columns={'DAILY_AQI_VALUE': 'NO2m'}, inplace=True)
SO2m.rename(columns={'DAILY_AQI_VALUE': 'SO2m'}, inplace=True)
COm.rename(columns={'DAILY_AQI_VALUE': 'COm'}, inplace=True)
PM2d5m.rename(columns={'DAILY_AQI_VALUE': 'PM2d5m'}, inplace=True)
PM10m.rename(columns={'DAILY_AQI_VALUE': 'PM10m'}, inplace=True)
Ozonem.rename(columns={'DAILY_AQI_VALUE': 'Ozonem'}, inplace=True)

In [63]:
merged_AQI = pd.merge(NO2m, SO2m, on='Date', how='outer')
merged_AQI = pd.merge(merged_AQI, COm, on='Date', how='outer')
merged_AQI = pd.merge(merged_AQI, PM2d5m, on='Date', how='outer')
merged_AQI = pd.merge(merged_AQI, PM10m, on='Date', how='outer')
merged_AQI = pd.merge(merged_AQI, Ozonem, on='Date', how='outer')
merged_AQI

          Date  NO2m  SO2m   COm  PM2d5m  PM10m  Ozonem
0   2023-01-01  36.0   1.0   6.0      45    NaN      27
1   2023-01-02  36.0   3.0   6.0      54    NaN      13
2   2023-01-03  40.0   1.0   9.0      75    NaN       4
3   2023-01-04  33.0   6.0  10.0      66    NaN       7
4   2023-01-05  18.0   0.0   6.0      56    NaN      12
..         ...   ...   ...   ...     ...    ...     ...
337 2023-12-04   NaN   NaN   NaN      27    NaN      16
338 2023-12-05   NaN   NaN   NaN      25    NaN      24
339 2023-12-06   NaN   NaN   NaN      23    NaN      24
340 2023-12-07   NaN   NaN   NaN      45    NaN      22
341 2023-12-08   NaN   NaN   NaN      66    NaN      13

[342 rows x 7 columns]

In [64]:
mergerd_AQI_traffic = pd.merge(merged_AQI, tfds2023, on='Date', how='inner')
mergerd_AQI_traffic

,Date,NO2m,SO2m,COm,PM2d5m,PM10m,Ozonem,# Vehicles - VToll,# Vehicles - E-ZPass,vehicle_volume,Year
0,2023-01-01,36.0,1.0,6.0,45,NaN,27,115235,622263,737498,2023
1,2023-01-02,36.0,3.0,6.0,54,NaN,13,104544,588411,692955,2023
2,2023-01-03,40.0,1.0,9.0,75,NaN,4,107409,708088,815497,2023
3,2023-01-04,33.0,6.0,10.0,66,NaN,7,110348,728725,839073,2023
4,2023-01-05,18.0,0.0,6.0,56,NaN,12,113540,745644,859184,2023
...,...,...,...,...,...,...,...,...,...,...,...
327,2023-11-28,NaN,NaN,NaN,24,NaN,26,117826,796503,914329,2023
328,2023-11-29,NaN,NaN,NaN,31,NaN,20,117844,797478,915322,2023
329,2023-11-30,NaN,NaN,NaN,50,NaN,25,121956,823897,945853,2023
330,2023-12-01,NaN,NaN,NaN,61,NaN,13,127377,819864,947241,2023
331,2023-12-02,NaN,NaN,NaN,85,NaN,13,134152,769132,903284,2023

In [68]:
mergerd_AQI_traffic['maxAQI'] = mergerd_AQI_traffic[['NO2m', 'SO2m','COm','PM2d5m', 'PM10m', 'Ozonem']].max(axis = 1)
mergerd_AQI_traffic

,Date,NO2m,SO2m,COm,PM2d5m,PM10m,Ozonem,# Vehicles - VToll,# Vehicles - E-ZPass,vehicle_volume,Year,maxAQI
0,2023-01-01,36.0,1.0,6.0,45,NaN,27,115235,622263,737498,2023,45.0
1,2023-01-02,36.0,3.0,6.0,54,NaN,13,104544,588411,692955,2023,54.0
2,2023-01-03,40.0,1.0,9.0,75,NaN,4,107409,708088,815497,2023,75.0
3,2023-01-04,33.0,6.0,10.0,66,NaN,7,110348,728725,839073,2023,66.0
4,2023-01-05,18.0,0.0,6.0,56,NaN,12,113540,745644,859184,2023,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...
327,2023-11-28,NaN,NaN,NaN,24,NaN,26,117826,796503,914329,2023,26.0
328,2023-11-29,NaN,NaN,NaN,31,NaN,20,117844,797478,915322,2023,31.0
329,2023-11-30,NaN,NaN,NaN,50,NaN,25,121956,823897,945853,2023,50.0
330,2023-12-01,NaN,NaN,NaN,61,NaN,13,127377,819864,947241,2023,61.0
331,2023-12-02,NaN,NaN,NaN,85,NaN,13,134152,769132,903284,2023,85.0

In [69]:
stats.ttest_ind(mergerd_AQI_traffic['maxAQI'],mergerd_AQI_traffic['vehicle_volume'])

Ttest_indResult(statistic=-255.79835333097483, pvalue=0.0)

In [70]:
stats.ks_2samp(mergerd_AQI_traffic['maxAQI'],mergerd_AQI_traffic['vehicle_volume'])

KstestResult(statistic=1.0, pvalue=8.441514434141254e-199, statistic_location=254.0, statistic_sign=1)

In [71]:
lrm = LinearRegression(fit_intercept=True).fit(mergerd_AQI_traffic[['vehicle_volume']], mergerd_AQI_traffic['maxAQI'])
print('AQI~{}*vehicle_volume+{}'.format(lrm.coef_[0],lrm.intercept_))

AQI~6.670025040388312e-05*vehicle_volume+-9.920944124759025

In [72]:
lm = smf.ols(formula='maxAQI~vehicle_volume', data = mergerd_AQI_traffic).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 maxAQI   R-squared:                       0.028
Model:                            OLS   Adj. R-squared:                  0.025
Method:                 Least Squares   F-statistic:                     9.618
Date:                Sun, 10 Dec 2023   Prob (F-statistic):            0.00209
Time:                        01:49:07   Log-Likelihood:                -1548.3
No. Observations:                 332   AIC:                             3101.
Df Residuals:                     330   BIC:                             3108.
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -9.9209     19.907     -0.498      0.619     -49.081      29.239
vehicle_volume   6.67e-05   2.15e-05      3.101      0.002    2.44e-05       0.000
==============================================================================
Omnibus:                      257.519   Durbin-Watson:                   0.760
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3949.710
Skew:                           3.144   Prob(JB):                         0.00
Kurtosis:                      18.684   Cond. No.                     1.30e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.3e+07. This might indicate that there are
strong multicollinearity or other numerical problems.